{% extends 'base.html.twig' %}

{% block metatitle %}

    Error 404 | SIUUUUUU

{% endblock metatitle %}

{% block main %}

    <h1 id="titleHome">Error 404</h1>
    <h1 id="titleHome">La page recherchée n'a pas été trouvée !</h1>

{% endblock main %}