{% include "partials/_header.html.twig" %}

    <main>
        <h1 id="titleHome">Liste des Articles</h1>
        <ul>
            {% for article in articles %}
                <li>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.content }}</p>
                    <img src="{{ article.image }}";>
                </li>
            {% endfor %}
        </ul>
    </main>

{% include "partials/_footer.html.twig" %}