{% extends 'base.html.twig' %}

{% block metatitle %}

    Résultats de recherche | SIUUUUUU

{% endblock metatitle %}

{% block main %}

<h1 id="titleHome">Toutes tes recherches pour "{{ search }}" :</h1>

{% endblock main %}