{% include "partials/_header.html.twig" %}

<main>
    {% if article %}
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <img src="{{ article.image }}"/>
    {% else %}
        <p>On a rien trouvé chef</p>
    {% endif %}

</main>

{% include "partials/_footer.html.twig" %}