{% extends 'base.html.twig' %}

{% block metatitle %}

    Les Catégories | SIUUUUUUU

{% endblock metatitle %}

{% block main %}

    <h1>Liste des catégories</h1>
    <ul>
        {% for categorie in categories %}
            <li>
                {# path me permet de me diriger vers la page qui contient l'id de la catégorie en question #}
                <a href="{{ path('categorie_show', { id: categorie.id }) }}">
                    {{ categorie.title }}
                </a>
                <a href="{{ path('category_removed', {'id': categorie.id}) }}">Supprimer la catégorie</a>
                <a href="{{ path('category_update', {'id': categorie.id}) }}">Modifier la catégorie</a>
            </li>
        {% endfor %}
    </ul>

{% endblock main %}