{% extends 'base.html.twig' %}

{% block metatitle %}

    {{ category.title }} | SIUUUUUU

{% endblock metatitle %}

{% block main %}

    <ul>
        <li>
            <h1>{{ category.title }}</h1>
            <p>{{ category.color }}</p>
        </li>
    </ul>

{% endblock main %}
