{% extends 'base.html.twig' %}

{% block metatitle %}

    {{ categorie.title }} | SIUUUUUU

{% endblock metatitle %}

{% block main %}

    <ul>
        <li style="background-color: {{ categorie.color }}">
            <h1>{{ categorie.title }}</h1>
            <p>{{ categorie.color }}</p>
        </li>
    </ul>

{% endblock main %}
