{% extends 'base.html.twig' %}

{% block metatitle %}

    Création de catégorie | SIUUUUUU

{% endblock metatitle %}

{% block main %}

    {% if error %}
        <p id="error">{{ error }}</p>
    {% endif %}

    <form method="POST" action="">

        <label for="title">Titre</label>
        <input type="text" id="title" name="title">

        <label for="color">Couleur</label>
        <textarea id="color" name="color"></textarea>

        <button type="submit">Créer la catégorie</button>

    </form>

{% endblock main %}