{% extends 'base.html.twig' %}

{% block metatitle %}

    Accueil | SIUUUUUU

{% endblock metatitle %}

{% block main %}

    <h1 id="titleHome">Poker Flop, votre site de Poker favori !</h1>

{% endblock main %}