{% extends 'base.html.twig' %}

{% block metatitle %}

    Accueil | SIUUUUUU

{% endblock metatitle %}

{% block main %}

    <h1 id="titleHome">Découvrez les meilleurs albums de Drake</h1>

{% endblock main %}